@font-face {
    font-family: 'regular';
    src: url('./SpaceGrotesk-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'semibold';
    src: url('./SpaceGrotesk-SemiBold.ttf') format('truetype');
}
*{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
	color: rgb(30, 129, 21);
	font-family: 'semibold';
    font-size: 90px;
	margin-bottom: 20px;
}

h3 {
	color: rgba(24, 167, 206, 0.886); 
    background-color: rgba(255, 0, 0, 0.3);
	font-family: 'regular';
    text-align: center;
    font-size: 40px;
	margin-bottom: 9px;
}

.scrolling-title {
    width: 123%;
    white-space: nowrap;
    box-sizing: border-box;
}

@keyframes scrollTitle {
    0% { transform: translateX(100%); } 
    100% { transform: translateX(-100%); }
}

.scrolling-title {
    display: inline-block;
    animation: scrollTitle 30s linear infinite;
}

#text-description {
    margin-top: 20px;
	font-family: 'regular';
}